@import "tailwindcss";
@import "vueless/tailwind.css";

/* -------------------- Storybook Preview UI -------------------- */
/* -------------------- General -------------------- */

::-webkit-scrollbar {
  width: 0.75rem; /* w-3 */
  height: 0.75rem; /* h-3 */
}

::-webkit-scrollbar-track {
  transition: all 0.2s; /* transition */
}

::-webkit-scrollbar-thumb {
  border-radius: var(--rounded-sm);
  transition: all 0.2s;
}

.light::-webkit-scrollbar-track,
.light ::-webkit-scrollbar-track {
  background-color: var(--neutral-50);
}

.light::-webkit-scrollbar-track:hover,
.light ::-webkit-scrollbar-track:hover {
  background-color: var(--neutral-200);
}

.light::-webkit-scrollbar-thumb,
.light ::-webkit-scrollbar-thumb {
  background-color: var(--neutral-400);
}

.light::-webkit-scrollbar-thumb:hover,
.light ::-webkit-scrollbar-thumb:hover {
  background-color: var(--neutral-500);
}

.dark::-webkit-scrollbar-track,
.dark ::-webkit-scrollbar-track {
  background-color: var(--neutral-950);
}

.dark::-webkit-scrollbar-track:hover,
.dark ::-webkit-scrollbar-track:hover {
  background-color: var(--neutral-800);
}

.dark::-webkit-scrollbar-thumb,
.dark ::-webkit-scrollbar-thumb {
  background-color: var(--neutral-600);
}

.dark::-webkit-scrollbar-thumb:hover,
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--neutral-500);
}

@supports (-moz-appearance: none) {
  .light * {
    scrollbar-width: thin;
    scrollbar-color: var(--neutral-400) var(--neutral-50);
  }

  .dark * {
    scrollbar-width: thin;
    scrollbar-color: var(--neutral-600) var(--neutral-950);
  }
}

html.dark {
  background-color: var(--neutral-950);
}

html.light {
  background-color: var(--neutral-50);
}

html.vl-dark #storybook-root {
  background-color: var(--neutral-900);
}

.light .sbdocs .sbdocs-content > h1,
.light .sbdocs .sbdocs-content > h2,
.light .sbdocs .sbdocs-content > h3,
.light .sbdocs .sbdocs-content > .sb-anchor > h3,
.light .sbdocs .sbdocs-content > .sb-anchor > p,
.light .sbdocs .sbdocs-content > ul > li,
.light .sbdocs .sbdocs-content > p,
.light .sbdocs .sbdocs-content > table th,
.light .sbdocs .sbdocs-content > table td {
  color: var(--neutral-900) !important;
}

.dark .sbdocs .sbdocs-content > h1,
.dark .sbdocs .sbdocs-content > h2,
.dark .sbdocs .sbdocs-content > h3,
.dark .sbdocs .sbdocs-content > .sb-anchor > h3,
.dark .sbdocs .sbdocs-content > .sb-anchor > p,
.dark .sbdocs .sbdocs-content > ul > li,
.dark .sbdocs .sbdocs-content > p,
.dark .sbdocs .sbdocs-content > table th,
.dark .sbdocs .sbdocs-content > table td {
  color: var(--neutral-200) !important;
}

.sbdocs .sbdocs-content > table tr {
  border-style: none; /* border-none */
}

.sbdocs .sbdocs-content > table th,
.sbdocs .sbdocs-content > table td {
  border-left-width: 0; /* border-l-0 */
  border-top-width: 0;  /* border-t-0 */
  text-align: left;       /* text-left */
}

.sbdocs .sbdocs-content > table th:last-child,
.sbdocs .sbdocs-content > table td:last-child {
  border-right-width: 0; /* border-r-0 */
}

.sbdocs .sbdocs-content > table tbody tr:last-child td {
  border-bottom-width: 0; /* border-b-0 */
}

.light .sbdocs .sbdocs-content > table th {
  background-color: var(--neutral-100);
  border-color: var(--neutral-200);
}

.light .sbdocs .sbdocs-content > table td {
  background-color: var(--white);
  border-color: var(--neutral-200);
}

.light .sbdocs .sbdocs-content > table {
  border-radius: var(--rounded-lg);
  outline: 1px solid var(--neutral-200);
  overflow: hidden;
}

.dark .sbdocs .sbdocs-content > table th {
  background-color: var(--neutral-800);
  border-color: var(--neutral-700);
}

.dark .sbdocs .sbdocs-content > table td {
  background-color: var(--neutral-900);
  border-color: var(--neutral-700);
}

.dark .sbdocs .sbdocs-content > table {
  border-radius: var(--rounded-lg);
  outline: 1px solid var(--neutral-700);
  overflow: hidden;
}

/* -------------------- Storybook preview skeleton -------------------- */

.light .sb-preparing-docs,
.light .sb-preparing-story {
  background-color: var(--neutral-50);
}

.light .sb-previewBlock {
  background-color: var(--white);
  border-color: var(--neutral-200);
  border-radius: var(--rounded-lg);
  box-shadow: none !important;
}

.light .sb-previewBlock_header {
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-200) !important;
  box-shadow: none !important;
}

.light .sb-previewBlock_icon {
  background-color: var(--neutral-300);
}

.light .sb-argstableBlock-body {
  border-radius: var(--rounded-sm);
  box-shadow: rgb(0 0 0 / 5%) 0 1px 3px 1px, rgb(0 0 0 / 4%) 0 0 0 1px;
}

.light .sb-argstableBlock-body td {
  background-color: var(--white);
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-200) !important;
}

.light .sb-argstableBlock-body tr:last-child td {
  border-bottom-width: 0px;
}

.light .sb-argstableBlock span,
.light .sb-argstableBlock button {
  background-color: var(--neutral-200);
}

.dark .sb-preparing-docs,
.dark .sb-preparing-story {
  background-color: var(--neutral-950);
}

.dark .sb-previewBlock {
  background-color: var(--neutral-900);
  border-color: var(--neutral-800);
  border-radius: var(--rounded-lg);
  box-shadow: none !important;
}

.dark .sb-previewBlock_header {
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-800) !important;
  box-shadow: none !important;
}

.dark .sb-previewBlock_icon {
  background-color: var(--neutral-700);
}

.dark .sb-argstableBlock-body {
  border-radius: var(--rounded-sm);
  box-shadow: rgb(255 255 255 / 10%) 0 1px 3px 1px, rgb(255 255 255 / 7%) 0 0 0 1px;
}

.dark .sb-argstableBlock-body td {
  background-color: var(--neutral-900);
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-800) !important;
}

.dark .sb-argstableBlock-body tr:last-child td {
  border-bottom-width: 0px;
}

.dark .sb-argstableBlock span,
.dark .sb-argstableBlock button {
  background-color: var(--neutral-700);
}

/* -------------------- All docs block -------------------- */

.dark .sbdocs {
  background-color: var(--neutral-950);
}

/* -------------------- Main story -------------------- */

.sb-anchor {
  margin-top: 0.5rem;
}

.sb-anchor > p {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.dark .sb-anchor > p > a {
  color: var(--primary-400);
  text-decoration: underline dashed var(--primary-400);
}

.light .sb-anchor > p > a {
  color: var(--primary-600);
  text-decoration: underline dashed var(--primary-600);
}

.sb-bar,
.docs-story {
  background-color: var(--white);
}

.vl-dark .sb-bar,
.vl-dark .docs-story,
.vl-dark .docs-story + div {
  background-color: var(--neutral-900) !important;
}

/* prevents showing scrollbar in buttons stories */
.docs-story > div > div {
  overflow-y: hidden;
}

.sb-bar {
  border-width: 0;
}

.dark .sb-bar {
  border-bottom: 1px solid var(--neutral-300);
  box-shadow: none !important;
}

.vl-dark .sb-bar {
  border-bottom: 1px solid var(--neutral-800);
  box-shadow: none !important;
}

.sbdocs.sbdocs-preview .prismjs {
  border-top: 1px solid var(--neutral-700);
  background-color: var(--neutral-800);
}

.vl-dark .docblock-code-toggle {
  background-color: var(--neutral-800);
  border-color: var(--neutral-800);
  color: var(--neutral-400);
}

.vl-light .docblock-code-toggle {
  border: 1px solid var(--neutral-300) !important;
}

.vl-dark .docblock-code-toggle {
  border: 1px solid var(--neutral-700) !important;
}

.docblock-code-toggle,
.docblock-source > div > button,
.docs-story > div > button,
.docs-story + div > div > button {
  margin: 0 4px 4px 0 !important;
  border-radius: var(--rounded-lg) !important;
  box-shadow: none !important;
}

.docblock-code-toggle,
.docblock-source > div,
.docs-story > div,
.docs-story + div > div {
  background: transparent !important;
}

.sbdocs-preview {
  border-radius: var(--rounded-lg) !important;
  box-shadow: none !important;
}

.sbdocs.sbdocs-preview > div {
  box-shadow: none !important;
}

/*.light .sbdocs.sbdocs-preview > div:first-child,*/
.vl-light .sbdocs.sbdocs-preview > [role="toolbar"] {
  border-bottom: 1px solid var(--neutral-200) !important;
}

/*.dark .sbdocs.sbdocs-preview > div:first-child,*/
.vl-dark .sbdocs.sbdocs-preview > [role="toolbar"] {
  border-bottom: 1px solid var(--neutral-800) !important;
}

/*.dark .sbdocs.sbdocs-preview,*/
/*.dark .sbdocs.sbdocs-preview > div,*/
.vl-dark .sbdocs.sbdocs-preview,
.vl-dark .sbdocs.sbdocs-preview > div {
  border-color: var(--neutral-800);
  background: var(--neutral-900);
}

/* -------------------- Args table -------------------- */

.docblock-argstable {
  border-collapse: separate;
  border-spacing: 0;
}

@media screen and (max-width: 600px) {
  div:has(> .docblock-argstable) {
    margin-bottom: 2.5rem !important;
    overflow-x: scroll;
  }

  .docblock-argstable {
    margin-bottom: 0 !important;
  }
}

.dark .docblock-argstable,
.dark .docblock-argstable-head th {
  color: var(--neutral-200) !important;
}

.docblock-argstable-body {
  border-radius: var(--rounded-lg);
  filter: none !important;
}

.docblock-argstable-body tr td {
  border-radius: 0 !important;
}

.docblock-argstable-body tr:first-child td:first-child {
  border-top-left-radius: var(--rounded-lg) !important;
}

.docblock-argstable-body tr:first-child td:last-child {
  border-top-right-radius: var(--rounded-lg) !important;
}

.docblock-argstable-body tr:last-child td:first-child {
  border-bottom-left-radius: var(--rounded-lg) !important;
}

.docblock-argstable-body tr:last-child td:last-child {
  border-bottom-right-radius: var(--rounded-lg) !important;
}

.docblock-argstable-body tr:not([title]) > td {
  background-color: var(--white) !important;
}

.light .docblock-argstable-body tr:first-child > td {
  border-top: 1px solid var(--neutral-800) !important;
}

.dark .docblock-argstable-body tr > td {
  border-top: 0px solid transparent !important;
  border-bottom: 1px solid var(--neutral-800) !important;
  background-color: var(--neutral-900) !important;
  border-inline-start-style: solid;
  border-inline-start-width: 0;
  border-inline-end-style: solid;
  border-inline-end-width: 0;
}

.dark .docblock-argstable-body tr > td:first-child,
.dark .docblock-argstable-body tr > td:last-child {
  border-inline-start-color: var(--neutral-800) !important;
  border-inline-end-color: var(--neutral-800) !important;
}

.dark .docblock-argstable-body {
  border-bottom: 1px solid var(--neutral-800);
}

.dark .docblock-argstable-body tr[title] > td {
  background-color: var(--neutral-800) !important;
  color: var(--neutral-400) !important;
}

.dark .docblock-argstable-body tr[title] > td svg {
  color: var(--neutral-400) !important;
}

.light .docblock-argstable-body tr:first-child > td {
  border-top: 1px solid var(--neutral-200) !important;
}

.light .docblock-argstable-body tr > td {
  border-top: 0px solid transparent !important;
  border-bottom: 1px solid var(--neutral-200) !important;
  background-color: var(--white) !important;
  border-inline-start-style: solid;
  border-inline-start-width: 0;
  border-inline-end-style: solid;
  border-inline-end-width: 0;
}

.light .sbdocs .sbdocs-content code,
.light .docblock-argstable-body tr > td > div + div > span[class],
.light .docblock-argstable-body tr > td > div + div > div > span,
.light .docblock-argstable-body tr > td:nth-child(2) > div > div > span[class],
.light .docblock-argstable-body tr > td:nth-child(3) > div > span[class],
.light .docblock-argstable-body tr > td:nth-child(3) > span[class] {
  background-color: var(--neutral-100);
  border-color: var(--neutral-200);
  color: var(--neutral-800);
}

.dark .rejt-value-node:hover .rejt-value,
.dark .sbdocs .sbdocs-content code,
.dark .docblock-argstable-body tr > td > div + div > span[class],
.dark .docblock-argstable-body tr > td > div + div > div > span,
.dark .docblock-argstable-body tr > td:nth-child(2) > div > div > span[class],
.dark .docblock-argstable-body tr > td:nth-child(3) > div > span[class],
.dark .docblock-argstable-body tr > td:nth-child(3) > span[class] {
  background-color: var(--neutral-800) !important;
  border-color: var(--neutral-700) !important;
  color: var(--neutral-400);
  border-radius: var(--rounded-sm) !important;
}

.dark .sb-story code,
.light .sb-story code {
  background-color: inherit !important;
  color: inherit !important;
  border-radius: var(--rounded-sm) !important;
}

.dark .docblock-argstable-body tr > td > div + div > span:not([class]) {
  color: var(--neutral-400);
}

.dark .docblock-argstable-body tr > td .rejt-edit-form,
.dark .docblock-argstable-body tr > td input:not([type="checkbox"]),
.dark .docblock-argstable-body tr > td textarea,
.dark .docblock-argstable-body tr > td select,
.dark .docblock-argstable-body tr > td:nth-child(4) button {
  color: var(--neutral-200);
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-700);
  font-size: 13px;
  box-shadow: none !important;
  color-scheme: dark;
}

.dark .docblock-argstable-body tr > td .rejt-edit-form:hover,
.dark .docblock-argstable-body tr > td input:hover,
.dark .docblock-argstable-body tr > td textarea:hover,
.dark .docblock-argstable-body tr > td select:hover,
.dark .docblock-argstable-body tr > td:nth-child(4) button:hover {
  border: 1px solid var(--neutral-600);
}

.dark .docblock-argstable-body tr > td .rejt-edit-form:focus,
.dark .docblock-argstable-body tr > td input:focus,
.dark .docblock-argstable-body tr > td textarea:focus,
.dark .docblock-argstable-body tr > td select:focus,
.dark .docblock-argstable-body tr > td:nth-child(4) button:focus {
  border: 1px solid var(--neutral-500);
}

.docblock-argstable-body tr > td .rejt-add-value-node button {
  padding-left: 0.375rem; /* px-1.5 */
  padding-right: 0.375rem;
  padding-top: 0.125rem; /* py-0.5 */
  padding-bottom: 0.125rem;
  line-height: 1;
}

.light .docblock-argstable-body tr > td .rejt-add-value-node button[type="submit"] {
  background-color: var(--white);
}

.light .docblock-argstable-body tr > td .rejt-edit-form,
.light .docblock-argstable-body tr > td input:not([type="checkbox"]),
.light .docblock-argstable-body tr > td textarea,
.light .docblock-argstable-body tr > td select,
.light .docblock-argstable-body tr > td:nth-child(4) button {
  color: var(--neutral-900);
  border: 1px solid var(--neutral-300);
  font-size: 13px;
  box-shadow: none !important;
}

.light .docblock-argstable-body tr > td .rejt-edit-form:hover,
.light .docblock-argstable-body tr > td input:hover,
.light .docblock-argstable-body tr > td textarea:hover,
.light .docblock-argstable-body tr > td select:hover,
.light .docblock-argstable-body tr > td:nth-child(4) button:hover {
  border: 1px solid var(--neutral-400);
}

.light .docblock-argstable-body tr > td .rejt-edit-form:focus,
.light .docblock-argstable-body tr > td input:focus,
.light .docblock-argstable-body tr > td textarea:focus,
.light .docblock-argstable-body tr > td select:focus,
.light .docblock-argstable-body tr > td:nth-child(4) button:focus {
  border: 1px solid var(--neutral-500);
}

.dark .docblock-argstable-body label[aria-disabled] {
  background-color: var(--neutral-800);
}

.dark .docblock-argstable-body label[aria-disabled] span {
  color: var(--neutral-200);
}

.dark .docblock-argstable-body [type='checkbox'],
.dark .docblock-argstable-body [type='radio'] {
  border: 1px solid var(--neutral-700) !important;
  box-shadow: none !important;
}

.dark .docblock-argstable-body [type='radio']:checked {
  background-color: var(--neutral-900);
}

.light .docblock-argstable-body [type='radio']:checked {
  background-color: var(--neutral-900) !important;
}

.docblock-argstable [type='checkbox']:focus,
.docblock-argstable [type='radio']:focus {
  outline-color: var(--neutral-300) !important;
}

.dark .rejt-name,
.dark .rejt-collapsed-text {
  color: var(--neutral-400) !important;
}

.dark .rejt-value {
  color: var(--neutral-200) !important;
}

/* -------------------- Code block and user markdown -------------------- */

#storybook-docs h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.dark h2 {
  border-bottom-color: var(--neutral-800);
}

.docblock-source {
  background-color: var(--neutral-800) !important;
  border-color: var(--neutral-800);
  box-shadow: none !important;
  border-radius: var(--rounded-lg) !important;
}

.dark .docblock-source {
  background-color: var(--neutral-900) !important;
  border-color: var(--neutral-800) !important;
}

.dark .docblock-source button {
  background-color: var(--neutral-800);
  border-color: var(--neutral-800);
  color: var(--neutral-400);
  border-top-left-radius: 0;
}

.dark a.sbdocs.sbdocs-a {
  color: var(--neutral-500);
}

.light a.sbdocs.sbdocs-a {
  color: var(--neutral-500);
}

.light a.sbdocs.sbdocs-a:hover,
.dark a.sbdocs.sbdocs-a:hover {
  text-decoration: underline dashed var(--neutral-500);
  text-underline-offset: 3px;
}

/* -------------------- Storybook story preview -------------------- */

.vl-dark {
  min-height: 100%;
  background-color: var(--neutral-900);
}

.vl-light {
  min-height: 100%;
  background-color: var(--white);
}
